@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.3s;
}

/* override --oruga-primary */
:root {
    --oruga-primary: #1e3a8a;
    --oruga-switch-checked-background: #1e3a8a;
}

/* Stripe table */
@layer base {
    table {
        tbody tr:nth-child(odd) {
            @apply bg-blue-800
        }

        tbody tr:nth-child(even) {
            @apply bg-blue-900
        }
    }
}
